<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="card mx-2"
      style="width: 18rem; justify-content: flex-start; padding-left: 20px"
    >
      <img
        src="../image/meliodas-nanatsu-no-taizai-7akau6i10022ljmy.jpg"
        class="card-img-top"
        alt="wew"
      />
      <div class="card-body">
        <h5 class="card-title">Meliodas</h5>

        <p class="text-danger">STRENGHT</p>

        <a href="#" class="btn btn-primary">Detail</a>
      </div>
    </div>
  </body>
</html>